@page
@model ContosoUniversity.Pages.Stages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Stage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Stage.Stagiaire" class="control-label"></label>
                <input asp-for="Stage.Stagiaire" class="form-control" />
                <span asp-validation-for="Stage.Stagiaire" class="text-danger"></span>
            </div>


            <div>  
            <br>           
                <label for="adult">Vous avez un binome ? </label><br>

                <input type="radio" name="type" value="customurl" 
                onclick="document.getElementById('text').disabled = false">Non
                <br>

                <input type="radio" name="type" value="customurl" 
                onclick="document.getElementById('text').disabled = true">Oui
                 

                <!-- <input type="text" id="text" name="custom" 
                placeholder="should be 5 charecters at least" disabled> -->
                <br><br>


                
            <label for="adult">Choisissez un binome </label>
            <div asp-for="Stage.Student" class="form-group">
                    <label  class="control-label"></label>
                <select asp-for="Stage.Binome" class="form-control"  id="text"
                   asp-items="@Model.StudentList" >
                    <option value="">-- Select Binome --</option>
                </select>
                <span asp-validation-for="Stage.Binome" class="text-danger" />
            </div>

            <br>

            </div>

          <br><br>

            <div class="form-group">
                <label asp-for="Stage.sujet" class="control-label"></label>
                <input asp-for="Stage.sujet" class="form-control" />
                <span asp-validation-for="Stage.sujet" class="text-danger"></span>
            </div>

            <br><br>

            <label for="adult">Choisissez un encadrant </label>
            <div asp-for="Stage.Enseignant" class="form-group">
                    <label  class="control-label"></label>
                <select asp-for="Stage.EnseignantID" class="form-control"
                   asp-items="@Model.ProfList" >
                    <option value="">-- Select Prof --</option>
                </select>
                <span asp-validation-for="Stage.EnseignantID" class="text-danger" />
            </div>

            <br><br>



            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
